<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basedatosdavid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.bdatosies.Principal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VerCentros"></activity>
         <activity android:name=".VerPersonal"></activity> 
        <activity android:name=".VerProfesores"></activity>
        <activity android:name=".AddCentro"></activity>
        <activity android:name=".CambiarCentros"></activity>
        <activity android:name=".EliminarCentros"></activity>
         <activity android:name=".DatosCentros"></activity>
    </application>

</manifest>
